.about {
	background: $white;
	padding: 30px 0;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: calc(2vw * 1.2);

		@media screen and (max-width: $notebook) {
			font-size: calc(3vw * 1.5);
		}

		padding: 10px;
		font-weight: 400;
	}

	&__description {
		text-align: center;
		width: 80%;
		padding: 10px;
		margin-bottom: 90px;
	}


}
