.title {
	opacity: 0.7;
	cursor: default;
	display: block;
	position: relative;
	text-align: center;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		display: block;
		width: 0;
		height: 2px;
		background-color: #F33535;
		left: 45%;
		transition: .3s;
	}

	&:hover::after {
		width: 100%;
		left: 0;
	}
	&:hover {
		opacity: 1;
	}
}