// Colors
$white: #fff;
$black: #000;
$red: #F33535;
$gray: #F4F4F4;
$darkgray: #C4C4C4;

// Media breakpoints
$phone_small: 320px;
$phone_medium: 375px;
$phone_large: 414px;
$phone: 480px;
$phone_full: 600px;
$laptop_medium: 854px;
$laptop_large: 991px;
$small_screen: 1024px;
$desktop_small: 1280px;
$notebook: 1366px;
$desktop_medium: 1600px; //1410
$desktop: 1920px;